@prefix: gantt;

.@{prefix}-wrapper {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  user-select: none;
  direction: ltr;
  text-align: left;

  table {
    & {
      width: 100%;
      box-sizing: border-box;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 1em;
    }

    td, th {
      border-style: solid;
      border-width: 1px;
      padding: 0;
      vertical-align: top;
      border-color: #eee;
      white-space: nowrap;
    }
  }
}

.@{prefix}-head {
}

.@{prefix}-body {
}

.@{prefix}-divider {
  width: 3px;
  border-style: double;
  background: #eee;
}

.@{prefix}-resource-area {
}

.@{prefix}-time-area {
}

.@{prefix}-scoller-clip {
  overflow: hidden;
  position: relative;
}

.@{prefix}-scoller {

  & {
    overflow: scroll hidden;
    margin: 0px;
  }

  .@{prefix}-scoller-area {
    .@{prefix}-content {
      z-index: 2;
      position: relative;
      border-style: solid;
      border-width: 0;
    }
  }

  &.gantt-no-scrollbars::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
